$ cat .gitignore

# Can ignore specific files
libpruw1.geany
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

w1_prucode.bi
libpruw1.so

doxy/fb-doc.lfn

# Use wildcards as well
*.bz2
*.deb
CMakeCache*
CPack*
build/**/*

# Can also ignore all directories and files in a directory.
CMakeFiles/**/*
doxy/CMakeFiles/**/*
doxy/html/**/*
doxy/latex/**/*
src/bas/CMakeFiles/**/*
src/examples/CMakeFiles/**/*
src/c_include/CMakeFiles/**/*
_CPack*/**/*
